<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang Chu</title>
    <th:block th:replace="base :: styles"></th:block>
</head>
<div th:replace="base :: header"></div>
<body>
    <main class="container">
        <form action="/action_page.php">
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" placeholder="Nhập từ khóa..." name="kw">
            </div>
            <div class="row">
                <div class="col-6">
                    <input type="number" class="form-control" placeholder="Giá từ" name="fromPrice">
                </div>
                <div class="col-6">
                    <input type="number" class="form-control" placeholder="Đến giá" name="toPrice">
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-2 mb-2">Tìm kiếm</button>
        </form>
        <table class="table table-hover table-bordered ">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
<div th:replace="base :: footer"></div>
</html>

